#-- Roblox --#

# Project place files
Puzzle.rbxlx
*.rbxlx.lock
*.rbxl.lock

# Test file used for quick troubleshooting
/tests/Test.*

# roblox-ts
rbxts-puzzle-*.*.*.tgz

#-- Packages --#

# Wally
/Packages
wally.lock

# Node (npm)
/node_modules
package-lock.json

#-- Documentation --#
/build
